@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Helvetica-Bold';
		src: url('./src/lib/fonts/Helvetica-Bold.ttf') format('opentype');
	}
	@font-face {
		font-family: 'Helvetica-Bold-Oblique';
		src: url('./src/lib/fonts/Helvetica-Bold-Oblique.ttf') format('truetype');
	}
	@font-face {
		font-family: 'Helvetica-Black';
		src: url('./src/lib/fonts/Helvetica-Black.otf') format('opentype');
	}
	@font-face {
		font-family: 'Helvetica-Black-Oblique';
		src: url('./src/lib/fonts/Helvetica-Black-Oblique.otf') format('opentype');
	}
	@font-face {
		font-family: 'Helvetica-Roman';
		src: url('./src/lib/fonts/Helvetica-Roman.ttf') format('truetype');
	}
	@font-face {
		font-family: 'Helvetica-Light';
		src: url('./src/lib/fonts/Helvetica-Light.ttf') format('truetype');
	}
}

:root {
}

.font-helvetica-bold {
	font-family: 'Helvetica-Bold';
}

.font-helvetica-bold-oblique {
	font-family: 'Helvetica-Bold-Oblique';
}

.font-helvetica-black {
	font-family: 'Helvetica-Black';
}

.font-helvetica-black-oblique {
	font-family: 'Helvetica-Black-Oblique';
}

.font-helvetica-light {
	font-family: 'Helvetica-Light';
}

h1,
h2,
h3,
h4,
h5,
h6 {
	letter-spacing: -0.05em;
}
